.App-breadcrumbs {
    padding: 0 0 40px 0;
    font-size: 12px;
    
    span {
        &:not(last-child) {
            font-weight: 700;
        }
        &:last-child {
            color: #888;
        }
    }
}

.App-product {
        max-width: 700px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

    .App-product__image {
        width: 65%;
        height: 350px;
        background-position: center;
        background-size: cover;
    }

    .App-product__description {
        width: 35%;
        padding: 0 20px;

        .App-product__card__brand,
        .App-product__card__price {
            color: #777;
            font-size: 11px;
            margin: 0;
        }
        .App-product__card__title {
            font-size: 21px;

        }

        .App-product__card__price {
            font-size: 16px;
        }

        .App-product__card__description-text {
            font-size: 11px;
            color: #666;
        }

        .App-product__add-to-cart {
            display: flex;
            justify-content: center;
            margin: 24px 0;

            .App-product__add-to-cart-button {
                outline: none;
                border: none;
                background: black;
                color: white;
                padding: 10px 20px;
                margin-left: 20px;
                cursor: pointer;
            }
        }
    }

}